.state-boundary {
  fill: none;
  stroke: "#fff";
}

.first_dropdown {
	float: left;
	margin-top: 10px;
	margin-left: 20%;
}

.second_dropdown {
	float: right;
	margin-right: 20%;
}

.third_dropdown {
	float: right;
	margin-right: 20%;
}

svg {
	margin-top: 10px;
}