.state-boundary {
  fill: none;
  stroke: "#fff";
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

#third_dropdown {
	margin-left:auto;
	margin-right:auto;
	width: 10%;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#introduction {
	margin-left: 7%;
}

svg {
	margin-top: 5px;
}
